# Application mode, 'PROD' for production, 'DEV' for development
# If MODE = DEV
# Devcert and https will be used
# Swagger ui will be mounted on /swagger
# '*' will be used for CORS origin
MODE=PROD

# Server Port
PORT=3000

# Prisma database connection string
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=PRISMA_CONNECTON_STRING

# Admin password for accessing setting api
ADMIN_KEY=ADMIN_KEY

# Secret for generating JWT
JWT_SECRET=JWT_SECRET

# Chunirec API Token 
CHUNIREC_TOKEN=CHUNIREC_TOKEN